<a href="https://colab.research.google.com/github/Ananya2306/Python-Programming-Ability-and-Logic-Building/blob/main/PYTHON_LAB_25_02_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

datatype -

no memory it contains
no character datatype

number -

int - a=1

float - a=1.22

complex -
  - in loops we use i
  so system wil get error so it takes imaginary no. j

none -

sequence -

String - '' , "" """ """,

tuple

list


set

dynamic

In [ ]:
a = 1+2j
print(type(a))

<class 'complex'>

whenever u r taking input of user val converted into string

In [ ]:
s = input("Enter val")
print(s)
print(type(s))

Enter val1
1
<class 'str'>

In [ ]:
s = int(input("Enter val"))
print(s)
print(type(s))

Enter val1
1
<class 'int'>

In [ ]:
s = float(input("Enter val"))
print(s)
print(type(s))

Enter val2
2.0
<class 'float'>

In [ ]:
s = complex(input("Enter val"))
print(s)
print(type(s))

None

for future use
no garbage value

In [ ]:
a=None
print(type(a))

<class 'NoneType'>

In [ ]:
m = 20
print(id(m))

11654984

they don't have pointers cause they have special values

In [ ]:
a,b,c,d = 10,20,10,20
print(id(a))
print(id(b))
print(id(c))
print(id(d))

11654664
11654984
11654664
11654984

In [ ]:
a = 'a'
b = "ab"
c = """abc"""
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

no mutliline comments

DOC Strings - ''' ''' / """ """ - when we need the use multiline comments - doc string is not integrated in python

In [ ]:
'''hi hello'''

'hi hello'

In [ ]:
""" heeeellllloooooooooooooooooooooo"""

' heeeellllloooooooooooooooooooooo'

In [ ]:
d = "hello"
print(d[5])

IndexError: string index out of range

For array concept of ARRAY -> Numpy

In [ ]:
import numpy as np
a = np.array([1,2,3,4])
print(a)
print(type(a))

[1 2 3 4]
<class 'numpy.ndarray'>

Indexing

- POSITIVE
  - S -> 0
  - sum -> n-1


- NEGATIVE
  - S -> -1
  - sum -> -n

  n -> length of the string

In [ ]:
l = [1,1.23,"hello",False,3+2j]
print(type(l[3]))
print(l)
print(id(l))
#to add the element
l.append(99)
l.append("hi")
print(l)
l.pop()
print(l)
#to update the element
l[0] = 78
print(l)
#slicing can be used
print(l[0:6:1])
print(l[0:6:2])
print(l[0:6:3])

<class 'bool'>
[1, 1.23, 'hello', False, (3+2j)]
137988974462144
[1, 1.23, 'hello', False, (3+2j), 99, 'hi']
[1, 1.23, 'hello', False, (3+2j), 99]
[78, 1.23, 'hello', False, (3+2j), 99]
[78, 1.23, 'hello', False, (3+2j), 99]
[78, 'hello', (3+2j)]
[78, False]

WRITE A PROGRAM TO DEMO THE CONCEPT OF STRING

SLICING
- syntax of 3
[start : stop : step]
a = "hello"
print( a[0:3:2])

In [ ]:
a = "hello"
print( a[0:3:2])
print( a[-1:-5:-1])

hl
olle

write a program
str - INDIA
to reverse string without using the concept of slicing

In [ ]:
s = "INDIA"
reversed_s = ""
for char in s:
    reversed_s = char + reversed_s
print(f"Original string: {s}")
print(f"Reversed string: {reversed_s}")

Original string: INDIA
Reversed string: AIDNI

list
- colletion of items / elements enclosed bet. []
- allows to store all the data types
- li = [1,1.23,"hello", False, 3+2j]

array
string
func
pointer
structures
unioun ()

diff datatypes
higher memory

array list
array structure
structure union

int - 4
float - 4
char
 and
structures
primary
define
user define

OPERATORS

it is a special symbol which is used to operations on operands

arithemtic
+
-
*
/ (quotient)
//(negociate the -ve value)
%(remainder)
** (exponential) - power of the value

assignment (=) -> equals
= 10
+=15
-=5
*=25
/=5
%=1

unaryy minus
a = 10
a = -10 <-- unary minus

relational
<
>
<=
>=
==
!=

a= 10 , b = 20
a<b 1
a>b 0
1
0
0
1

logical
AND - GREATEST
000
010
100
111

OR - LEAST
000
011
101
111

NOT - THERE IS VALUE OR NOT
01
10

boolean
true / false

bitwise
& - and
00000

| - or
11110
^ xor
11110

000
110
011
101


~ complement
a = 10 ==> ~10 = 10+1 = -11
<< left shift (value get incresed)
a = 10 ==> 00001010
a<<2 = 40
00101000
>> right shift (value get decresed
b =20 ==> 00010100
b>>2 = 5
00000101

membership
in (is it there in list)and not in (is it not in list)

identity
id[a]

In [ ]:
#LOGICAL
a,b=10,20
print(a and b)
print(a or b)
print(not a)
print(not b)
print()

20
10
False
False

In [ ]:
#BITWISE
a =10
b = 20
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(~b)
print(a<<2)
print(a>>2)

0
30
30
-11
-21
40
2

CONDITIONAL STATEMENTS

SIMPLE IF
- if(condition):
    -  body
- when single condition exists

IF ELSE  
- if(condition):
    - body
- else:
    - body
- when 2 condition exists

NESTED IF


IF ELSE IF

In [ ]:
#SIMPLE IF
age = int(input())
if age >= 18:
  print('eligible')

10

In [ ]:
#IF ELSE
age = int(input())
if age >= 18:
  print('eligible')
else:
  print('not eligible')

17
not eligible

wapip - to check whether the given nuber is pos or negative

In [ ]:
num = int(input())
if num < 0:
  print("negative")
else:
  print("positive")

0
positive

wapip - whether the given nu is eve or odd

In [ ]:
num = int(input())
if num % 2 ==0:
  print("even")
else:
  print("odd")

4
even

vowel / consonant

In [ ]:
#whether the given char is vowel or consonant
vowels = ['a','e','i','o','u','A','E','I','O','U']
a = str(input())
if a in vowels:
  print("vowel")
else:
  print("consonant")

O
vowel

In [ ]:
#leap year or not
year = int(input())
# why? 4  , 400, 100
'''
1 yr = 365.25 days
0.25 * 4 = 1 ==> 266th day
100 yrs = 25 -1 = 24 leap years
400 = century years
'''
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print("leap year")
else
  print("not a leap year")

wapip - cal the grade of std of 5 subjects
total
avg
grade

In [ ]:
 #wapip - cal the grade of std of 5 subjects total avg grade
 s1 = int(input())
 s2 = int(input())
 s3 = int(input())
 s4 = int(input())
 s5 = int(input())
 total = s1+s2+s3+s4+s5
 avg = total/5
 if avg >= 90:
   print("A")
 elif avg >= 80:
   print("B")
 elif avg >= 70:
   print("C")
 else:
    print("D")

70
80
90
50
40
D

- wapip - for cal the electricity bill  for 1st 100 units the unit cost should be - 1 100 unit = rupees 3 per unit, next 100 units - 5 per unit, above 200 units 7 per units

In [ ]:
#- wapip - for cal the electricity bill  for 1st 100 units the unit cost should be - 1 100 unit = rupees 3 per unit, next 100 units - 5 per unit, above 200 units 7 per units
units = int(input())
if units <= 100:
  bill = units * 3
elif units>=100 and units <= 200:
  bill = 100 * 3 + (units - 100) * 5
else:
  bill = (units * 3) + (units-100) * 5 + (units - 200) *7
print(bill)

300
2600

write a pinp to vaildate a triangle by the 3 sides

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a == b == c:
  print("equilateral")
elif a == b or b == c or c == a:
  print("isosceles")
else:
  print("scalene")

wapip for employee bonus cal -  if emp servies > 5 years -> 10% bonus < 50000 -> 5% bonus

In [ ]:
#wapip for employee bonus cal -  if emp servies > 5 years -> 10% bonus < 50000 -> 5% bonus by using nested condition
servies = int(input())
salary= int(input())
if servies > 5:
  salary += salary * 0.1
  if salary < 50000:
    salary += salary * 0.05
else:
  print("no bonus")
print(salary)

wapip for atm withdrawl simulation

loops r of 2 type in c java c++
- pre test
- time complexity and space complexity is good
    - for - when we know finite number of iteration
          -index is intialised by 'i'

    - while - when we don't know finite number of iteration

- post test
- waste of time complexity and space complexity
    - do while

IN PYTHON
 - Pre test

print first n natural number in for number

In [ ]:
n = int(input())
for i in range(1,n+1):
  print(i)

10
1
2
3
4
5
6
7
8
9
10

print evn num from 1 to 50

In [ ]:
for i in range(2,51,2):
    print()

wapip to cal sum of digits until the single digit

9875
9+8+7+5 = 29
2+9 = 11
1+1 = 2

to check wether given number is palindrome number or not
121
121

to check armstrong number or not
123
1*1*1 +  2*2*2 + 3*3*3

4 9474

python core
python avance
statics of ml
ml
dl

tableau
powerbi

In [1]:
# to print 1 -> one enter the number 1 to 9
num = int(input("Enter a number from 1 to 9: "))

if num == 1:
    print("One")
elif num == 2:
    print("Two")
elif num == 3:
    print("Three")
elif num == 4:
    print("Four")
elif num == 5:
    print("Five")
elif num == 6:
    print("Six")
elif num == 7:
    print("Seven")
elif num == 8:
    print("Eight")
elif num == 9:
    print("Nine")
else:
    print("Please enter a number between 1 and 9.")

Enter a number from 1 to 9: 5
Five

if pattern
row - i
column - j

|* |  |  |  |

|* |* |  |  |

|* |* |* |  |

|* |* |* |* |

In [ ]:
n = int(input())
for i in range(1,n+1):
  print('*'*i)

4
*
**
***
****

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(i):
    print('*',end=' ')
  print()

4
*
* *
* * *
* * * *

In [ ]:
n = int(input())
for i in range(1,n+1):
   for j in range(1,n+1):
    print('x',end=' ')
   print()

4
x x x x
x x x x
x x x x
x x x x

In [ ]:
n = int(input())
for i in range(n,0,-1):
  print('*'*i)

4
****
***
**
*

In [ ]:
n = int(input())
for num in range(1,n+1):
  for i in range(num):
    print(num,end=' ')
    num=num+1
  print()

4
1
2 3
3 4 5
4 5 6 7

floyds

In [ ]:
n= int(input())
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end=' ')
    k=k+1
  print()

4
1
2 3
4 5 6
7 8 9 10

In [ ]:
n = int(input())
for i in range(1,n+1):
  print(' '*(n-i)+'*'*(2*i-1))

4
   *
  ***
 *****
*******

Advanced concept

function - block of code /set of statements

WORA

IT ENHANCES CODE REUSABILITY/ modularity/readibility

4 types :-

 - Built in - predefined by the programming language
   - print()
   - range()
   - input()
   - len()
   - type()
   - id() [operator]

 - user defined - func which r explicitly defined/design by the user
    - def -> definition
        - def func_name(parameter): #block of code then func_call()

 - lambda

 - recursive

fucntion inside function it is called method

if same fucntion is called in another class it is called a member

func:-

  function:-[method]

class cannot declare inside a class

2 types of flow control statemnets:-
- break
- continue

keywords in python - 52
keywords in c - 32

In [4]:
def great():
  print("Good Morning")
great()

Good Morning

In [2]:
def greet():
  print("Good Morning")
  def add(a,b):
    return a+b
  print(add(10,20))
greet()

Good Morning
30

a,b - parameter

In [5]:
#print square of n
def square_n():
  n = int(input("Enter a number: "))
  square = n * n
  print(f"The square of {n} is {square}")
square_n()

Enter a number: 3
The square of 3 is 9

lambda function is an unnamed func

single line

no need to define any function

lambda is keyword not a pre defined func

In [6]:
n = int(input())
square = lambda n:n*n
print(square(n))

5
25

In [8]:
#to check wheather the number is even or odd using function
def check_even_odd(number):
  if number % 2 == 0:
    print(f"{number} is an even number")
  else:
    print(f"{number} is an odd number")
num_input = int(input("Enter a number to check: "))
check_even_odd(num_input)

Enter a number to check: 6
6 is an even number

In [12]:
# to print factorial of given number using function
num = int(input("Enter a number: "))
def factorial(n):
  if n == 0 or n==1:
    return 1
  else:
    return n * factorial(n-1)
result = factorial(num)
print(f"The factorial of {num} is {result}")

Enter a number: 6
The factorial of 6 is 720

In [13]:
#to print concate the string using function
def concatenate_strings(str1, str2):
  result = str1 + str2
  return result
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
concatenated_string = concatenate_strings(string1, string2)
print(f"The concatenated string is: {concatenated_string}")

Enter the first string: abc
Enter the second string: 345
The concatenated string is: abc345

In [15]:
# to delete an element in the list using func
def delete_element_from_list(my_list, element_to_delete):
  try:
    my_list.remove(element_to_delete)
    print(f"Element '{element_to_delete}' removed successfully.")
  except ValueError:
    print(f"Element '{element_to_delete}' not found in the list.")
  return my_list

my_list = [10, 20, 30, 40, 50, 20]
my_list = delete_element_from_list(my_list, 20)
print(f"List after deleting 20: {my_list}")

Element '20' removed successfully.
List after deleting 20: [10, 30, 40, 50, 20]

write a function to count vowels in a string

---

In [2]:
#write a function to count vowels in a string
s = input("Enter the string :- ")
def vowels(s):
  count =0
  for ch in s.lower():
    if ch in 'aeiou':
      count+=1
  return count
vowels(s)

Enter the string :- Education

5

write a function to check wheather the given string is palindrome or not

In [3]:
#write a function to check wheather the given string is palindrome or not
s = input("Enter the string :- ")
def palindrome(s):
  if s == s[::-1]:
    return True
  else:
    return False
palindrome(s)

Enter the string :- madam

True

In [4]:
s = input("Enter the string")
def is_palindrome(s):
  return s==s[::-1]
is_palindrome(s)

Enter the stringmam

True

write a function to check the factorial of given number using itreators

In [ ]:
#write a function to check the factorial of given number using itreators
n = int(input("Enter the number:- "))
def facts(n):
  if n == 0 or n==1:
    return 1
  else:
    return n * factorial(n-1)
result = factorial(num)

In [6]:
#write a function to check the factorial of given number using iterators
n = int(input("Enter the number:- "))
def fact(n):
  if n < 0:
    return "Factorial is not defined for negative numbers"
  elif n == 0 or n == 1:
    return 1
  else:
    res = 1
    for i in range(1, n + 1):
      res *= i
    return res

result = fact(n)
print(f"The factorial of {n} is {result}")

Enter the number:- 2
The factorial of 2 is 2

In [7]:
#wrtite a function to print fibonnaci series
n = int(input("Enter the number:- "))
def fib(n) :
  a,b = 0, 1
  for i in range(n):
    print(a,end=' ')
    a,b = b,a+b
fib(n)

Enter the number:- 10
0 1 1 2 3 5 8 13 21 34

write a func to print the 2nd largest number

In [8]:
#write a func to print the 2nd largest number
lst = [646,5556,9877,445566,7655]
def sec_largest(lst):
  lst = list(set(lst))
  lst.sort()
  return lst[-2]
sec_largest(lst)

9877